<br>
<br>
<br>
{{#if changePasswordError}}
    <div class="col s8 offset-s2 error-alert">{{changePasswordError}}</div>
{{/if}}
<div class="row">
    <form action="/user/password" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input value="" id="pas1" type="password" required name="passwordOld" class="validate" minlength="6"
                    maxlength="56">
                <label for="pas1">Старый пароль</label>
                <span class="helper-text" data-error="Пароль должен быть длиннее 5 символов"
                    data-success="верно!">Введите
                    ваш пароль, длинна не
                    менее 6
                    символов</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input value="" id="pas2" type="password" required name="passwordNew" class="validate" minlength="6"
                    maxlength="56">
                <label for="pas2">Новый пароль</label>
                <span class="helper-text" data-error="Пароль должен быть длиннее 5 символов"
                    data-success="верно!">Введите
                    ваш пароль, длинна не
                    менее 6
                    символов</span>
            </div>
        </div>
        <button class="btn waves-effect waves-light">Сменить</button>

        <input type="hidden" name="_csrf" value="{{csrf}}">
    </form>
</div>